[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
pandas = "*"
bs4 = "*"
django-environ = "*"
djangorestframework = "*"
geojson = "*"
requests = "*"
ratelimit = "*"
sqlalchemy = "*"
pandas-geojson = "*"
django-extensions = "*"
celery = "*"
redis = "*"
celery-progress = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.10"
