{% comment %} {% load static %} {% endcomment %} {% comment %}
<link rel="stylesheet" href="{% static 'app.css' %}" /> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HDB Building Polygons GeoJSON Data Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <header>
      <h1>HDB Building Polygons GeoJSON Data Uploader</h1>
    </header>

    <form
      id="geojson-uploader"
      action="{% url 'upload-geojson' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <label for="geojson_file" class="drop-container">
        <input
          type="file"
          {%
          comment
          %}
          id="geojson_file"
          {%
          endcomment
          %}
          name="geojson_file"
          required
          accept=".geojson"
          size="255"
        />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
