{% extends "admin/base.html" %} {% block content %}

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>

<style>
  .not-visible {
    display: none;
  }
</style>

<form
  id="resale-csv-upload-form"
  action="."
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %} {{form.as_p}} {% comment %}
  <label for="resale_csv_file">
    <input
      type="file"
      {%
      comment
      %}
      id="resale_csv_file"
      {%
      endcomment
      %}
      name="resale_csv_file"
      required
      accept=".csv"
      size="255"
    />
  </label>
  {% endcomment %}
  <button type="submit" class="btn btn-primary">Upload File</button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    onclick="javascript:history.back();"
  >
    Cancel
  </button>
</form>

<div class="container not-visible progress" id="progress"></div>

<script>
  const uploadForm = document.getElementById("resale-csv-upload-form");
  const input_file = document.getElementById("id_resale_csv_file");
  const progress_bar = document.getElementById("progress");

  $("#resale-csv-upload-form").submit(function (e) {
    e.preventDefault();
    $form = $(this);
    var formData = new FormData(this);
    const media_data = input_file.files[0];
    if (media_data != null) {
      console.log(media_data);
      progress_bar.classList.remove("not-visible");
    }

    $.ajax({
      type: "POST",
      url: window.location.pathname,
      data: formData,
      dataType: "json",
      //dataType: "text/csv",
      beforeSend: function () {},
      xhr: function () {
        const xhr = new window.XMLHttpRequest();

        xhr.upload.addEventListener("progress", (e) => {
          if (e.lengthComputable) {
            const percentProgress = (e.loaded / e.total) * 100;
            console.log(percentProgress);
            progress_bar.innerHTML = `<div class="progress-bar progress-bar-striped bg-success"
              role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0"
              aria-valuemax="100"></div>`;
          }
        });
        return xhr;
      },
      success: function (response) {
        console.log(response);
        uploadForm.reset();
        progress_bar.classList.add("not-visible");
      },
      error: function (err) {
        console.log(err);
      },
      cache: false,
      contentType: false,
      processData: false,
    });
  });
</script>

{% endblock %}
