{% extends "admin/change_list.html" %} {% load static %} {% block content %}

<style>
  .not-visible {
    display: none;
  }

  .row-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    padding: 8px 0px;
  }

  .update-button {
    padding: 8px 16px;
    outline: none;
    border-width: 0px;
    border-radius: 4px;
    background-color: rgb(64, 118, 144);
    color: white;
    cursor: pointer;
  }
  .update-button:hover {
    background-color: rgb(38, 75, 93);
  }

  .text {
    margin: auto 0;
  }
</style>

<div class="row-container">
  <button class="update-button" type="button" onclick="updateTable()">
    Update mapping
  </button>
  <p
    class="text not-visible"
    id="progress"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    50%
  </p>
  <p class="text not-visible" id="completedText">Update completed</p>
</div>

<script>
  const updateTable = () => {
    console.log("updateTable clicked");
  };
</script>

{{ block.super }} {% endblock %}
